<header id="page-header">
	<h1 class="main-heading">Chris Masters</h1>
</header>
<div id="herobox" class="clearfix">
	<section id="example-projects">
		<%= image_tag("global/web-tint.png", :id => 'web-tint') %>
		<%= image_tag("global/web-top.png", :id => 'web-top') %>
		<div id="slide-frame">
			<div class="flexslider">
			  <ul class="slides">
				  <li><%= image_tag "flexsliderimages/flexslider-3.png" %></li>
			    <li><%= image_tag "flexsliderimages/flexslider-4.png" %></li>
			    <li><%= image_tag "flexsliderimages/flexslider-5.png" %></li>
			    <li><%= image_tag "flexsliderimages/flexslider-6.png" %></li>
			    <li><%= image_tag "flexsliderimages/flexslider-1.png" %></li>
			    <li><%= image_tag "flexsliderimages/flexslider-2.png" %></li>
			  </ul>
			</div>
		</div>
		<%= image_tag("global/web-bottom.png", :id => 'web-bottom') %>
	</section>
	
	<section id="about-me-intro" class="clearfix">
		<div class="intro"><p>I&#8217;m a formally educated <strong>interaction</strong> &amp; <strong>visual designer</strong> with over ten years experience and a strong belief in user-centred methodologies</p></div>
		<div id="work-examples" class="teaser">
			<h2 class="main-heading">Examples of work</h2>
			<p>My work includes the conception &amp; design of products &amp; services across different media including mobile, web &amp; television.</p>
			<%= link_to 'View projects', projects_path, :class => "view-project" %>	
		</div>
		<div id="work-history" class="teaser">
			<h2 class="main-heading">Work history</h2>
			<p>Currently I work for the telecommunications company Orange within the conception of products &amp; services division.</p>
			<%= link_to 'View more', about_path, :class => "view-project" %>	
		</div>
	</section>
</div>
<h2 class="main-heading">Social</h2>
<section id="social-links" class="clearfix">
	<section id="pinboard">
		<header>
			<h2>Bookmarks</h2>
			<h5>via <%= link_to "Pinboard", "https://pinboard.in/u:chrismasters/public/" %></h5>
		</header>	
		<% for entry in Pinboard.all(:limit => 10, :order => "pubat desc") %>
		  <article>			
				<h4><%= link_to h(entry.title.html_safe), entry.url %></h4>				
				<p><%= entry.summary.html_safe %></p>
				<h6><%= entry.pubat.to_s(:long_date) %></h6>
			</article>
		<% end %>
	</section>
	<section id="goodread" class="single">
		<header>
			<h2>Current Read</h2>
			<h5>via <%= link_to "Goodread", "http://www.goodreads.com/chrismasters" %></h5>
		</header>
		<article>
			<% book = Goodread.order("created_at DESC").first %>
			<% if book %>
				<%= link_to h(image_tag(book.book_small_image_url)), book.url %>
				<div class="content">
					<% if book %>
						<h4><%= link_to h(book.title.html_safe), book.url %></h4>
						<p><%= book.author_name.html_safe %></p>
						<h6><%= book.pub_at.to_s(:long_date) %></h6>
					<% else %>
					  <h2>Sorry, no recent location</h2>
					<% end %>
				</div>
			<% else %>
				<h2>Sorry, no recent reads</h2>
			<% end %>
		</article>
	</section>
	<section id="instapaper">
		<header>
			<h2>Reading Online</h2>
			<h5>via <%= link_to "Instapaper", "http://www.instapaper.com/" %></h5>
		</header>
		<% for entry in Instapaper.all(:limit => 10, :order => "pubat desc") %>
		  <article>
				<h4><%= link_to h(entry.title.html_safe), entry.url %></h4>
				<h6><%= entry.pubat.to_s(:long_date) %></h6>		
			</article>
		<% end %>
	</section>
	<section id="twitter" class="single">
		<header>
			<h2>Tweeted</h2>
			<h5>via <%= link_to "Twitter", "http://www.twitter.com/chrisdmasters" %></h5>
		</header>
		<article>
			<% tweet = Tweet.last %>
			<% if tweet %>
				<h2><%= auto_link(tweet.message.html_safe) unless tweet.message.blank? %></h2>
				<h6><%= tweet.pub_at.to_s(:long_date) unless tweet.pub_at.blank? %></h6>
			<% else %>
				<h2>Sorry, no recent tweet</h2>
			<% end %>					
		</article>
	</section>	
	<section id="foursquare" class="single">
		<header>
			<h2>Visited</h2>
			<h5>via <%= link_to "Foursquare", "https://foursquare.com/chrisdmasters" %></h5>
		</header>
		<article>
			<% visited = Foursquare.order("pub_at DESC").first %>
			<% if visited %>
				<h2><%= link_to h(visited.title.html_safe), visited.url %></h2>
				<h6><%= visited.pub_at.to_s(:long_date) %></h6>
			<% else %>
			  <h2>Sorry, no recent location</h2>
			<% end %>
		</article>
	</section>
	<section id="lastfm">
		<header>
			<h2>Listening</h2>
			<h5>via <%= link_to "Last.fm", "http://www.last.fm/user/chris_masters" %></h5>
		</header>	
		<% for entry in Lastfm.where("image_url IS NOT NULL").where("image_url != ''").where("played_at IS NOT NULL").limit(5).order("played_at DESC") %>
		  <article>
				<%= link_to h(image_tag(entry.image_url, :size => "64x64")), entry.url %>
				<div class="content">
					<h4><%= link_to h(entry.name.html_safe), entry.url %></h4>				
					<p><%= entry.artist.html_safe %></p>
					<% if entry.played_at.blank? %>
						<h6>Just now</h6>
						<% else %>
						  <h6><%= entry.played_at.to_s(:long_date) %></h6>
					<% end %>
				</div>			
			</article>
		<% end %>			
	</section>
</section>



