<header id="page-header" class="projects">
	<h1 class="main-heading">Recent Projects</h1>	
</header>

<section id="projects">
	<% @projects.each do |project| %>
		<article class="clearfix">
			<div class="<%= project.projectformat %> images">
				<% if project.projectimages %>
					<% project.projectimages.each do |projectimage| %>
						<% if projectimage.mainimage %>
				    	<%= image_tag projectimage.url %>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div class="details">
				<header>
					<h2><%= project.title %></h2>
					<h6><%= project.projectformat %> / <%= project.client %></h6>				
				</header>
				<p>
					<%= project.description.html_safe %>
				</p>
				<% if project.categories %>		
					<ul>
						<% project.categories.each do |category| %>
					    <li><%= category.name %></li>
						<% end %>
					</ul>
				<% end %>
				<%= link_to 'View project', project, :class => "view-project" %>
			</div>			
			<footer>
			<p>
				<% if can? :update, Project %>

					<%= link_to 'Edit', edit_project_path(project) %>
				<% end %>
				<% if can? :destroy, Project %>
					| <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
				<% end %>
			</p>
			</footer>
		</article>
	<% end %>	
</section>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>
