<h1>Listing projects</h1>

<% @projects.each do |project| %>
	<article>
		<h2><%= project.title %></h2>
		<% if project.projectimages %>		
			<ul>
				<% project.categories.each do |category| %>
			    <li><%= category.name %></li>
				<% end %>
			</ul>
		<% end %>
		<p>
			<%= project.description %>
		</p>
		<% if project.projectimages %>		
			<ul>
				<% project.projectimages.each do |projectimage| %>
			    <li><%= projectimage.url %></li>
				<% end %>
			</ul>
		<% end %>
		<%= link_to 'View project', project, :class => "view-project" %>
		<footer>
		<p>
			<% if can? :update, Project %>
			
				<%= link_to 'Edit', edit_project_path(project) %>
			<% end %>
			<% if can? :destroy, Project %>
				| <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
			<% end %>
		</p>
		</footer>
	</article>
<% end %>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>
