<h1>Listing projects</h1>

<% @projects.each do |project| %>
	<article>
		<h2><%= project.title %></h2>
		<p>
			<%= project.description %>
		</p>
		<% if project.projectimages %>		
		<ul>
			<% project.projectimages.each do |projectimage| %>
		    <li><%= projectimage.url %></li>
			<% end %>
		</ul>
		<% end %>
		<%= link_to 'View project', project %>
		<footer>
		<p>
			<%= link_to 'Edit', edit_project_path(project) %> | <%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
		</p>
		</footer>
	</article>
<% end %>


<%= link_to 'New Project', new_project_path %>
