<header id="page-header">
	<h3><%= link_to '&larr; Back to projects'.html_safe, projects_path %></h3>
	<h1 class="main-heading"><%= @project.title %></h1>
</header>
<article id="project" class="clearfix">
	<div class="<%= @project.projectformat %> images">
		<% if @project.projectimages %>		
			<ul>
				<% @project.projectimages.each do |projectimage| %>
			    <li><%= image_tag projectimage.url %></li>
				<% end %>
			</ul>
		<% end %>
	</div>
	<div class="details">
	  <%= @project.description.html_safe %>
		<h3><%= link_to '&larr; Back to projects'.html_safe, projects_path %></h3>
		<% if can? :update, Project %>
			<%= link_to 'Edit', edit_project_path(@project) %> |
		<% end %>
		
	</div>	
</article>

