<p id="notice"><%= notice %></p>

<p>
  <b class="title">Title:</b>
  <%= @project.title %>
</p>

<p>
  <b class="description">Descqsqsronsssss:</b>
  <%= @project.description %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
