<!DOCTYPE html>
<html>
<head>
  <title>Chris Masters</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript" charset="utf-8">
	  $(window).load(function() {
	    $('.flexslider').flexslider();
	  });
	</script>
</head>
<body>
	<div id="header-wrapper">
		<header id="main-header" class="clearfix">
			<div id="login">
				<% if current_user %>
					<p>Logged in. <%= link_to "Log out", log_out_path %></p>
				<% else %>
				  <!-- <%= link_to "Sign up", sign_up_path %> or -->
			    <p><%= link_to "Log In", log_in_path %></p>
				<% end %>
			</div>
			<nav id="main-nav">
				<%= tabs_tag do |tab| %>
				  <%= tab.home 'Home', root_path, :id => 'home' %>
				  <%= tab.project 'Projects', projects_path, :id => 'projects' %>
					<%= tab.about 'About', about_path, :id => 'about' %>
				<% end %>
			</nav>
		</header>
		<% if current_tab.to_s == "project" %>
		<% @projects = Project.all %>
		<header id="sub-header">			
			<nav class="clearfix">				
				<%= tabs_tag :namespace => :subnav do |tab| %>				
					<% @projects.each do |project| %>		
						<%= tab.send(project.slug.gsub('-' , '_'), project.shortname, project_path(project)) %>										
					<% end %>
				<% end %>
			</nav>
		</header>
		<% end %>
	</div>
	
	<div id="content-wrapper" class="<%= current_tab %>">		
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>


		<!-- this is application stuff ^ -->

		<%= yield %>
		
		<footer id="global">
			<h6>Site built with <%= link_to "Ruby On Rails 3.1", "http://rubyonrails.org/" %> and hosted on <%= link_to "Heroku", "http://www.heroku.com/" %>
			</h6>
		</footer>
	</div>
</body>
</html>
